# Intro python data science
## Pr치ctica 02: Listas

Estoy practicando hoy lo siguiente:
* Punto 1: crear listas con diferentes tipos de datos
* Punto 2: seleccionar elementos de listas
* Punto 3: agregar/eliminar elementos de listas

Extra: c칩mo crear dataframe de una lista

# Punto 1:

In [ ]:
# crear listas con diferentes tipos de datos

# structure : | nombre (string) | millones_usuarios (int) | pertenece_fbk (bool) |

In [1]:
ejemplo =['nombre', 1548, True]

In [2]:
# datos de RRSS 2020
ejemplo

['nombre', 1548, True]

fuente: https://www.juancmejia.com/marketing-digital/estadisticas-de-redes-sociales-usuarios-de-facebook-instagram-linkedin-twitter-whatsapp-y-otros-infografia/

# Punto 2:

In [ ]:
# seleccionar elementos de listas

In [47]:
# los : pueden ahorrar conteos
fkb = ['Facebook', 2449, True]
twt = ['Twitter', 339, False]
ig = ['Instagram', 1000, True]
yt = ['Youtube', 2000, False]
lkn = ['Linkedln', 663, False]
wsp = ['WhatsApp', 1600, True]

In [13]:
# el conteo empieza en cero. Nomrbe completo de Facebook
nombres_rrss=['Facebook','Twitter','Instagram','Youtube','Linkedln','WhatsApp']

In [18]:
# seleccionar dos elementos
nombres_rrss[0]

'Facebook'

In [17]:
nombres_rrss[1],nombres_rrss[2]

('Twitter', 'Instagram')

In [8]:
# utilizar los dos puntos : para seleccionar varios elementos seguidos
nombres_rrss[2:5]

In [19]:
# seleccionar desde atras
nombres_rrss[-1]

'WhatsApp'

In [27]:
nombres_rrss[-2]

'Linkedln'

# Punto 3:

In [ ]:
# agregar elementos de listas

In [23]:
fkb

['Facebook', 2449, True, 2006, 2006]

In [24]:
fkb.append(2006)

In [32]:
fkb.remove(2006)

In [35]:
fkb.append (2006)
twt.append(2006)
ig.append (2010)
yt.append (2005)
lkn.append (2003)
wsp.append (2009)

In [50]:
fkb.append (True)
twt.append(False)
ig.append (True)
yt.append (False)
lkn.append (True)
wsp.append (False)

fuente https://interestingengineering.com/a-chronological-history-of-social-media

In [ ]:
# eliminar elementos de listas

In [39]:
fkb.append(True)

In [43]:
fkb.remove('Error')

In [44]:
fkb

[2006, 2006, True]

# Otro mas: c칩mo crear dataframe de una lista

In [51]:
# creando listas con todas las RRSS
lista_rrss=[fkb,twt,ig,yt,lkn,wsp]

In [52]:
# mostrando en notebook
lista_rrss

[['Facebook', 2449, True, True],
 ['Twitter', 339, False, False],
 ['Instagram', 1000, True, True],
 ['Youtube', 2000, False, False],
 ['Linkedln', 663, False, True],
 ['WhatsApp', 1600, True, False]]

In [54]:
# adelanto a DataFrames (pr칩ximas clases)
import pandas as pd
pd.DataFrame(lista_rrss, columns=['Nombre', 'Cantidad','es-FKB','Anos'])

      Nombre  Cantidad  es-FKB   Anos
0   Facebook      2449    True   True
1    Twitter       339   False  False
2  Instagram      1000    True   True
3    Youtube      2000   False  False
4   Linkedln       663   False   True
5   WhatsApp      1600    True  False

# Listo-Practicando Lista!
## Aprendiendo DS notebook 游