# Intro python data science
## Práctica 07: importar datos de excel a python

Vamos a ver cómo importar excel cuando:
* Punto 1: tenemos datos con nombre de columna y en la primera hoja
* Punto 2: los datos no están en la primera hoja
* Punto 3: no hay nombres de columnas

# Punto 0:

In [6]:
# importar pandas
import pandas as pd

In [7]:
# extraer ruta del archivo
path ='datos_rrss.xlsx'

# Punto 1:

In [8]:
# caso 1: datos completos en la primera hoja

In [15]:
pdd.read_excel(path)

NameError: name 'pdd' is not defined

# Punto 2:

In [16]:
# caso 2: los datos no están en la primera hoja

In [11]:
pd.read_excel(path,
             sheet_name='Hoja2')

      Nombre  Cantidad  ES_FBK   Año
0   Facebook      2449    True  2006
1    Twitter       339   False  2006
2  Instagram      1000    True  2010

# Punto 3:

In [ ]:
# caso 3: no hay nombres de columnas

In [17]:
pdd.read_excel(path,
             sheet_name='Hoja3')

NameError: name 'pdd' is not defined

In [18]:
pd.read_excel(path,
             sheet_name='Hoja3',
             header= None,
             names=['Nombre','Cantidad','ES_FBK','Año'])

                      Nombre  Cantidad  ES_FBK  Año
Facebook  2449 True     2006       NaN     NaN  NaN
Twitter   339  False    2006       NaN     NaN  NaN
Instagram 1000 True     2010       NaN     NaN  NaN
YouTube   2000 False    2005       NaN     NaN  NaN
LinkedIn  663  False    2003       NaN     NaN  NaN
WhatsApp  1600 True     2009       NaN     NaN  NaN

# Listo!